body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #606dbc 25%, #465298 25%, #465298 50%, #606dbc 50%, #606dbc 75%, #465298 75%, #465298);
background-size: 50px 50px;
height : 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height : 100%
}



